[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
mysqlclient = "*"
djangorestframework = "*"
django-filter = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
pillow = "*"
django-computedfields = "*"
django-mysql = "*"
drf-nested-routers = "*"

[dev-packages]

[requires]
python_version = "3.9"
